.main-body-section {
    background-image: url("https://www.co.lancaster.pa.us/ImageRepository/Document?documentID=12365");
}

.search-bar-with-logo {
    display: block;
    max-width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    
}

.header-1 {
    text-align: center;
    font-family: "Trirong", serif;
    text-shadow: 3px 3px 3px #ababab;
    font-size: 70px;
    padding-top: 50px;
}

.input-group-rounded {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
.input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
  
.description-paragraph {
    text-align: center;
    font-family: "Trirong", serif;
    text-shadow: 1px 1px 1px #ababab;
}

.api-logos {
    display: block;
    margin: auto;
}

.horizontal-flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.dictionary-logo {
    align-self: center;
}

.youtube-logo {
    align-self: center;
}

.logo-images {
    padding: 5px;
}

.footer-background {
    background-color: white;
}

#clickImg{
    height: 60px;
    width: 60px;
    border: 3px solid white;
}

#clickImg:hover {
    cursor: pointer;
    border: 3px solid aqua;
}

#videos {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /* padding-top: 5px; */
}

.picture-frame {
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.picture-frame:hover {
    border: 5px solid rgb(0, 247, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#definitions {
    /* border: 1px solid black; */
    text-align: center;
    height: 25vh;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 0 auto;
}


#wiki-article {
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    height: 33vh;
    overflow: auto;
    width: 90%;
    margin: 0 auto;
}

#wiki-title {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    text-decoration: underline;
}

.hide {
    display: none;
}

#definitionTitlePop {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    text-decoration: underline;
}

#youtubeVideoTitle {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    padding-top: 20px;
    text-decoration: underline;
}